<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--API网关地址-->
    <add key="GW_URL" value="http://guard-boot.loan.k2.test.wacai.info/gw/api_entry"/>
    <!--API_网关_Token获取地址-->
    <add key="GW_TOKEN_URL" value="http://open-token-boot.loan.k2.test.wacai.info/token/auth"/>
    <!--消息网关地址-->
    <add key="GW_MESSAGE_URL" value="ws://open.wacaiyun.com"/>
    <!--消息网关端口-->
    <add key="GW_MESSAGE_URL_PORT" value="80"/>
    <!--App_key(for测试)-->
    <add key="APP_KEY" value="63ypw88wkpv9"/>
    <!--App_secret(for测试)-->
    <add key="APP_SECRET" value="251f1e7412464a10bc2abd939d827637"/>
    <!--WAC_Version-->
    <add key="X_WAC_VERSION" value="4"/>
  </appSettings>
</configuration>